<!DOCTYPE html>
<html ng-app='givingLesson'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/pure-min.css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>

  <title>Giving Talks</title>
</head>

<body>
    <header class="pure-g">
        <div class="pure-u-5-8">
        	<h1 class="align-left">Just Giving</h1>
        </div>
        <form class="pure-u-3-8">
        	<label for="username">username:</label>
        	<input type="text" id="username"/>
        	<label for="username">password:</label>
        	<input type="password" id="password"/>
				</form>
    </header>
    <div class="content wrapper">
    	<h1>Welcome to JG School</h1>	
    	<p>Every week we have a volunteer talking about something related to our field.</p>
    	<nav class="navbar">
    		<ul>
					<li class="pure-button"><a href="#">Home</a></li>
					<li class="pure-button"><a href="#/events">More Events</a></li>
					<li class="pure-button"><a href="#/blog">Blog</a></li>					
				</ul>
			</nav>
    	<div ng-controller="LessonController">
				<h2>Events this month</h2>
					<form>
						<label for="filterEvents">Filter:</label>
						<input ng-model="filterEvents" type="text" id="filterEvents"/>		
					</form>
					<select ng-model="filterby" >
						<option ng-repeat="head in columns" value={{head}}>{{head}}</option>
					</select>
					<table>
						<tr>
							<th ng-click="sort('name')">Name</th>
							<th ng-click="sort('lesson')">About</th>
							<th ng-click="sort('description')">Description</th>
							<th ng-click="sort('date')">When</th>
							<th ng-click="sort('where')">Where</th>
						</tr>
						<tr ng-repeat="lesson in lessons | filter: filtering()  | orderBy:orderBy:reverse">
							<td >{{lesson.name}}</td>
							<td >{{lesson.lesson}}</td>
							<td >{{lesson.description}}</td>
							<td >{{lesson.date}}</td>
							<td >{{lesson.where}}</td>						
						</tr>
					</table>
    	</div>
    </div>
<!--	<div ng-view></div>-->
    <footer></footer>
</body>
    <script src="scripts/angular.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/controllers/lessonList.js"></script>

</html>
